{% extends 'store/base.html' %}
{% load static %}

{% block container %}

<div class="row">

    <div class="col-md-12 cart_info">

        <div class="successful-order text-center">

            <i class="fa fa-check"></i>

            <h3 class="page-header">
                Thank you for your purchase!
            </h3>

        </div>


        <!-- ORDER DETAILS -->

        <div class="ordered-info">

            <h5>
                OrderID:
                <span>#2018{{ order.id }}</span>
            </h5>
              <br>
            <h5>
                Book:
                <span>{{ order.totalbook }}</span>
            </h5>
                <br>
            <h5>
                Name:
                <span>{{ order.name }}</span>
            </h5>
            <br>
            <h5>
                Phone:
                <span>{{ order.phone }}</span>
            </h5>

            <h5>
                Email:
                <span>{{ order.email }}</span>
            </h5>

            <h5>
                Account No:
                <span>{{ order.account_no }}</span>
            </h5>

            <h5>
                Transaction ID:
                <span>{{ order.transaction_id }}</span>
            </h5>

            <h5>
                Payment Method:
                <span>{{ order.payment_method }}</span>
            </h5>

            <h5>
                Total Amount:
                <span>₹ {{ order.payable }}</span>
            </h5>

            <h5>
                Shipping address:
                <span>
                    {{ order.division }} :
                    {{ order.zip_code }},
                    {{ order.district }},
                    {{ order.address }}
                </span>
            </h5>

        </div>



        <!-- QR CODE SECTION -->
\

       <!-- QR CODE SECTION -->

<div class="text-center mt-4">

    <h3 class="page-header">
        Scan QR Codes
    </h3>

    <div style="display:flex; justify-content:center; gap:40px; flex-wrap:wrap;">

        <!-- ORDER QR -->

        <div>

            <h4>Order Details QR</h4>

            {% if order.qr_code %}

                <img
                    src="{{ order.qr_code.url }}"
                    alt="Order QR"
                    width="250"
                    height="250"
                    class="img-thumbnail"
                >

            {% endif %}

            <p class="mt-2">
                Scan to view order details
            </p>

        </div>


        <!-- PAYMENT QR -->

        <div>

            <h4>Payment QR</h4>

            {% if order.payment_qr %}

                <img
                    src="{{ order.payment_qr.url }}"
                    alt="Payment QR"
                    width="250"
                    height="250"
                    class="img-thumbnail"
                >

            {% endif %}

            <p class="mt-2">
                Scan to make payment
            </p>

        </div>

    </div>

</div>


        <!-- DOWNLOAD PDF -->

        <div class="download-info text-center mt-4">

    <a href="{% url 'order:order_pdf' id=order.id %}">

        <i
            class="fa fa-download"
            aria-hidden="true"
            style="font-size:35px;"
        ></i>

    </a>

    <p>Download Invoice PDF</p>

</div>

    </div>

</div>

{% endblock %}